In [60]:
path = "C:/Users/SDS/Downloads/text.txt"

from os.path import *
print(abspath("text.txt"))

C:\Users\SDS\Downloads\text.txt

In [2]:
open(path).readline()

'{"h":"1KW4Zp8","g":"1M91fCv","l":"americanenglish","hh":"1.usa.gov","u":"https://share.america.gov/everyday-conversations-writing-college-essay/","r":"http://m.facebook.com/","a":"Mozilla/5.0 (Linux; U; Android 4.3; vi-vn; SHV-E210K Build/JSS15J) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30 [FB_IAB/FB4A;FBAV/53.0.0.29.18;]","i":"","t":1446872374,"k":"","nk":0,"hc":1446564568,"_id":"9f7472aa-05bd-15d1-bb10-17c839600b9f","al":"vi-VN, en-US","c":"VN","tz":"Asia/Phnom_Penh","gr":"44","cy":"Hanoi","ll":[21.0333,105.85]}\n'

In [3]:
path = "C:/Users/SDS/Downloads/text.txt"

In [4]:
open(path).readline()

'{"h":"1KW4Zp8","g":"1M91fCv","l":"americanenglish","hh":"1.usa.gov","u":"https://share.america.gov/everyday-conversations-writing-college-essay/","r":"http://m.facebook.com/","a":"Mozilla/5.0 (Linux; U; Android 4.3; vi-vn; SHV-E210K Build/JSS15J) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30 [FB_IAB/FB4A;FBAV/53.0.0.29.18;]","i":"","t":1446872374,"k":"","nk":0,"hc":1446564568,"_id":"9f7472aa-05bd-15d1-bb10-17c839600b9f","al":"vi-VN, en-US","c":"VN","tz":"Asia/Phnom_Penh","gr":"44","cy":"Hanoi","ll":[21.0333,105.85]}\n'

In [5]:
path = "/Users/JYP/text333333.txt"
open(path).readline()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/JYP/text333333.txt'

In [6]:
path = "/Users/JYP/text3.txt"
open(path).readline()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/JYP/text3.txt'

In [7]:
path = "/Users/JYP/text.txt"
open(path).readline()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/JYP/text.txt'

In [8]:
path = "/Users/JYP/text.txt"
open(path).readline()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/JYP/text.txt'

In [9]:
path = "/Users/JYP/text.txt"
open(path).readline()
recods = [json.loads(line) for line in open(path)]
print (recods[0])

FileNotFoundError: [Errno 2] No such file or directory: '/Users/JYP/text.txt'

In [10]:
path = "C:/Users/SDS/Downloads/text.txt"
recods = [json.loads(line) for line in open(path)]
recods[0]

NameError: name 'json' is not defined

In [11]:
import json
path = "C:/Users/SDS/Downloads/text.txt"
recods = [json.loads(line) for line in open(path)]
print (recods[0])

{'al': 'vi-VN, en-US', 'll': [21.0333, 105.85], 'u': 'https://share.america.gov/everyday-conversations-writing-college-essay/', 'cy': 'Hanoi', 'hc': 1446564568, 'hh': '1.usa.gov', 'c': 'VN', 'nk': 0, 't': 1446872374, 'l': 'americanenglish', 'i': '', 'r': 'http://m.facebook.com/', 'g': '1M91fCv', '_id': '9f7472aa-05bd-15d1-bb10-17c839600b9f', 'k': '', 'gr': '44', 'a': 'Mozilla/5.0 (Linux; U; Android 4.3; vi-vn; SHV-E210K Build/JSS15J) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30 [FB_IAB/FB4A;FBAV/53.0.0.29.18;]', 'h': '1KW4Zp8', 'tz': 'Asia/Phnom_Penh'}

In [12]:
recodes[0]['tz']

NameError: name 'recodes' is not defined

In [13]:
records[0]['tz']

NameError: name 'records' is not defined

In [14]:
recodes[0]['tz']

NameError: name 'recodes' is not defined

In [16]:
import json
path = "/Users/JYP/text.txt"
recods = [json.loads(line) for line in open(path)]
recods[0]

FileNotFoundError: [Errno 2] No such file or directory: '/Users/JYP/text.txt'

In [18]:
print (recods[0]['tz'])

Asia/Phnom_Penh

In [19]:
time_zones = [rec['tz'] for rec in recods]

In [20]:
print recods[0]['tz']

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-20-31eda1cc216d>, line 1)

In [21]:
python

NameError: name 'python' is not defined

In [22]:
import json
path = "C:/Users/SDS/Downloads/text.txt"
recods = [json.loads(line) for line in open(path)]
recods[0]
time_zones = [rec['tz'] for rec in recods]

In [23]:
time_zones

['Asia/Phnom_Penh',
 'America/Chicago',
 'America/New_York',
 'America/Los_Angeles',
 'America/Los_Angeles',
 'America/Los_Angeles',
 'America/Chicago',
 'America/New_York',
 'Australia/Queensland',
 'America/Denver',
 'America/Chicago',
 'America/New_York']

In [24]:

def get_counts(sequence):
    counts = {}
    
    for x in sequence:
        if x in counts:
            counts[x] +=1
        else:
            counts[x] = 1
    return counts

counts = get_counts(time_zones)
counts

{'America/Chicago': 3,
 'America/Denver': 1,
 'America/Los_Angeles': 3,
 'America/New_York': 3,
 'Asia/Phnom_Penh': 1,
 'Australia/Queensland': 1}

In [25]:
time+_

TypeError: bad operand type for unary +: 'dict'

In [25]:
len(time_zones)

12

In [26]:
from collections import defaultdict
def get_counts2(sequence):
    counts = defaultdict(int) # values will initialize to 0
    for x in sequence:
        counts[x] += 1 
        return counts
counts = get_counts(time_zones)
counts

{'America/Chicago': 3,
 'America/Denver': 1,
 'America/Los_Angeles': 3,
 'America/New_York': 3,
 'Asia/Phnom_Penh': 1,
 'Australia/Queensland': 1}

In [27]:
def top_counts(count_dict, n =10):
    value_key_pairs = [(count,tz) for tz , count in count_dict.items()]
    value_key_pairs.sort()
    return value_key_pairs[-n:]
top_counts(counts)

[(1, 'America/Denver'),
 (1, 'Asia/Phnom_Penh'),
 (1, 'Australia/Queensland'),
 (3, 'America/Chicago'),
 (3, 'America/Los_Angeles'),
 (3, 'America/New_York')]

In [ ]:
from collections import Counter
counts = Counter(time_zones)
counts.most_common(10)

In [30]:
from pandas import DataFrame , Series
import pandas as pd; import numpy as np
frame = DataFrame(recods)
frame

,_id,a,al,c,cy,dp,g,gr,h,hc,...,k,kw,l,ll,mc,nk,r,t,tz,u
0,9f7472aa-05bd-15d1-bb10-17c839600b9f,Mozilla/5.0 (Linux; U; Android 4.3; vi-vn; SHV...,"vi-VN, en-US",VN,Hanoi,NaN,1M91fCv,44,1KW4Zp8,1446564568,...,,NaN,americanenglish,"[21.0333, 105.85]",NaN,0,http://m.facebook.com/,1446872374,Asia/Phnom_Penh,https://share.america.gov/everyday-conversatio...
1,7c2c683c-891d-c023-48c7-d42c046918e5,Mozilla/5.0 (iPhone; CPU iPhone OS 9_0_1 like ...,en-us,US,Austin,NaN,1Hk3R2E,TX,1jMW5oo,1444170435,...,,FreshEmpire_FAIC_3,freshempirelife,"[30.4549, -97.7565]",635,0,http://instagram.com/,1446872375,America/Chicago,https://freshempire.betobaccofree.hhs.gov/the-...
2,1d31f65a-e9bf-0943-2edb-2257ff63f955,Twitter/6.39 CFNetwork/758.1.6 Darwin/15.0.0,en-us,US,Browns Mills,NaN,1Q5FhX4,NJ,1Q5FhX3,1446666353,...,,NaN,usairforce,"[39.9456, -74.5558]",504,0,direct,1446872376,America/New_York,http://www.afgsc.af.mil/news/story.asp?id=1234...
3,6529ebcb-9963-d1eb-f2c3-fe45fb41feef,Mozilla/5.0 (Windows NT 6.3; ARM; Trident/7.0;...,"en-US,en;q=0.5",US,Madras,NaN,1KYy8me,OR,1kbrXTK,1446062463,...,,NaN,fsanewmedia,"[44.6067, -121.056]",821,0,direct,1446872376,America/Los_Angeles,https://fsaid.ed.gov/npas/index.htm?utm_source...
4,46a7119b-b52d-3cf8-7e58-70844001c064,Mozilla/5.0 (iPhone; CPU iPhone OS 9_0_2 like ...,en-us,US,Los Angeles,NaN,1KYy8me,CA,1KGd0OI,1446062565,...,,NaN,fsanewmedia,"[34.0669, -118.3109]",803,0,direct,1446872377,America/Los_Angeles,https://fsaid.ed.gov/npas/index.htm?utm_source...
5,239e8519-9ca4-3a00-b6a5-c48a0570770a,Mozilla/5.0 (iPhone; CPU iPhone OS 9_1 like Ma...,en-us,US,San Jose,NaN,1OicfTM,CA,1Qgpu6S,1446742187,...,,NaN,twitterfeed,"[37.3394, -121.895]",807,0,https://t.co/wX6y2BYDSZ,1446872377,America/Los_Angeles,https://www.usajobs.gov/GetJob/ViewDetails/420...
6,f3c69d82-b895-df17-39fb-eb7a328f8763,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...,en-us,US,Pascagoula,http%3A%2F%2F1.usa.gov%2F1GKkwI5,1GKkwI6,MS,1GKkwI5,1445009342,...,,NaN,karenasapsis,"[30.3561, -88.4924]",746,0,direct,1446872377,America/Chicago,http://www.cdc.gov/cancer/breast/young_women/b...
7,7ffd1451-11ad-e52d-6884-8663f2cd6896,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Bronx,NaN,15r91,NY,10OBm3W,1365701422,...,,NaN,pontifier,"[40.8767, -73.9056]",501,0,direct,1446872378,America/New_York,http://www.nsa.gov/
8,522e0d39-8f11-1135-869b-d0c2480c3111,Mozilla/5.0 (Linux; U; Android 4.3; en-au; GT-...,"en-AU, en-US",AU,Brisbane,NaN,1Xt9ZdZ,04,1Xt9ZdY,1445861703,...,,NaN,o_4t10c0ucio,"[-27.428, 152.9904]",NaN,0,http://m.facebook.com/,1446872379,Australia/Queensland,http://www.cancer.gov/types/skin/melanoma-phot...
9,29963ad6-3b44-fc99-82e6-fb27cd66ac19,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5)...,en-us,US,Plains,NaN,17nWAiX,MT,17nWAiW,1423767547,...,,NaN,o_33avl0ri1b,"[47.5779, -114.7315]",762,0,http://fwp.mt.gov/,1446872379,America/Denver,http://fwp.mt.gov/hunting/licenses/buyApply/ap...
10,e666f96a-68f7-02f2-254e-397394ca98a5,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Chanute,NaN,1ffGiX6,KS,1HzU46r,1437171288,...,,NaN,annemcsweeney,"[37.6454, -95.463]",603,0,https://www.facebook.com/,1446872379,America/Chicago,https://eclkc.ohs.acf.hhs.gov/hslc/tta-system/...
11,4ec3a257-a41f-987e-2624-b11a883c68ee,Mozilla/5.0 (iPhone; CPU iPhone OS 9_1 like Ma...,en-us,US,Browns Mills,NaN,1Q5FhX4,NJ,1Q5FhX3,1446666353,...,,NaN,usairforce,"[39.9456, -74.5558]",504,0,https://t.co/EAus4RR3cj,1446872381,America/New_York,http://www.afgsc.af.mil/news/story.asp?id=1234...

In [31]:
frame['tz'][:10]

0         Asia/Phnom_Penh
1         America/Chicago
2        America/New_York
3     America/Los_Angeles
4     America/Los_Angeles
5     America/Los_Angeles
6         America/Chicago
7        America/New_York
8    Australia/Queensland
9          America/Denver
Name: tz, dtype: object

In [37]:
tz_counts =  frame['tz'].value_counts()

In [28]:
tz_counts[:10]

NameError: name 'tz_counts' is not defined

In [36]:
clean_tz = frame['tz'].fillna('Missing')
clean_tz[clean_tz == ''] = 'Unknown'
tz_counts = clean_tz.value_counts()
tz_counts[:10]

America/Los_Angeles     3
America/New_York        3
America/Chicago         3
Asia/Phnom_Penh         1
America/Denver          1
Australia/Queensland    1
dtype: int64

In [ ]:
tz_counts[:10].plot(kind='barh', rot =0)

In [32]:
results = Series([x.split()[0] for x in frame.a.dropna()])
results

0      Mozilla/5.0
1      Mozilla/5.0
2     Twitter/6.39
3      Mozilla/5.0
4      Mozilla/5.0
5      Mozilla/5.0
6      Mozilla/5.0
7      Mozilla/5.0
8      Mozilla/5.0
9      Mozilla/5.0
10     Mozilla/5.0
11     Mozilla/5.0
dtype: object

In [33]:
results.value_counts()[:2]

Mozilla/5.0     11
Twitter/6.39     1
dtype: int64

In [39]:
%pylab
tz_counts[:10].plot(kind='barh', rot =0)

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [41]:
%pylab
tz_counts[:10].plot(kind='barh', rot =0).show()

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

AttributeError: 'AxesSubplot' object has no attribute 'show'

In [42]:
tz_counts[:10].show()

AttributeError: 'Series' object has no attribute 'show'

In [ ]:

%pylab
tz_counts[:10].plot(kind='barh', rot =0)

In [ ]:
import matplotlib.pyplot as p 
tz_counts[:10].plot(kind='barh', rot =0)

In [43]:
cframe =  frame[frame.a.notnull()]

In [44]:
operating_system = np.where(cframe['a'].str.contains('Windows'),'Windows','not Windows')
operating_system[:5]

array(['not Windows', 'not Windows', 'not Windows', 'Windows',
       'not Windows'],
      dtype='<U11')

In [ ]:
operating_system = np.where(cframe['a'].str.contains('Windows'),'Windows','not 2222Windows')
operating_system[:5]

In [45]:
cframe['a']

0     Mozilla/5.0 (Linux; U; Android 4.3; vi-vn; SHV...
1     Mozilla/5.0 (iPhone; CPU iPhone OS 9_0_1 like ...
2          Twitter/6.39 CFNetwork/758.1.6 Darwin/15.0.0
3     Mozilla/5.0 (Windows NT 6.3; ARM; Trident/7.0;...
4     Mozilla/5.0 (iPhone; CPU iPhone OS 9_0_2 like ...
5     Mozilla/5.0 (iPhone; CPU iPhone OS 9_1 like Ma...
6     Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...
7     Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
8     Mozilla/5.0 (Linux; U; Android 4.3; en-au; GT-...
9     Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5)...
10    Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
11    Mozilla/5.0 (iPhone; CPU iPhone OS 9_1 like Ma...
Name: a, dtype: object

In [46]:
by_tz_os = cframe.groupby(['tz',operating_system])
agg_counts = by_tz_os.size().unstack().fillna(0)
agg_counts[:10]

                      Windows  not Windows
tz
America/Chicago             1            2
America/Denver              0            1
America/Los_Angeles         1            2
America/New_York            1            2
Asia/Phnom_Penh             0            1
Australia/Queensland        0            1

In [47]:
indexer = agg_counts.sum(1).argsort()
indexer[:10]

tz
America/Chicago         1
America/Denver          4
America/Los_Angeles     5
America/New_York        0
Asia/Phnom_Penh         2
Australia/Queensland    3
dtype: int64

In [48]:
count_subset = agg_counts.take(indexer)[-10:]

In [49]:
count_subset

                      Windows  not Windows
tz
America/Denver              0            1
Asia/Phnom_Penh             0            1
Australia/Queensland        0            1
America/Chicago             1            2
America/Los_Angeles         1            2
America/New_York            1            2

In [54]:
%pylab
count_subset.plot(kind='barh',stacked = True)

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [43]:
count_subset.plot(kind='barh',stacked = True)

NameError: name 'count_subset' is not defined

In [56]:
normed_subset =  count_subset.div(count_subset.sum(1), axis = 0)

In [57]:
%pylab
normed_subset.plot(kind = 'barh', stacked = True)

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [46]:
import pandas as pd
unames = ['user_id','gender','age','occupation','zip']
users = pd.read_table('C:/Users/SDS/Downloads/ml-1m/users.dat',sep='::',header =None,names=unames,engine='python')

rnames = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_table('C:/Users/SDS/Downloads/ml-1m/ratings.dat',sep='::',header =None,names=rnames,engine='python')

mnames = ['movie_id','title','genders']
movies = pd.read_table('C:/Users/SDS/Downloads/ml-1m/movies.dat',sep='::',header =None,names=mnames,engine='python')

users[:5]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [47]:
ratings[:5]

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [48]:
movies[:5]

   movie_id                               title                       genders
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [49]:
ratings

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
5              1      1197       3  978302268
6              1      1287       5  978302039
7              1      2804       5  978300719
8              1       594       4  978302268
9              1       919       4  978301368
10             1       595       5  978824268
11             1       938       4  978301752
12             1      2398       4  978302281
13             1      2918       4  978302124
14             1      1035       5  978301753
15             1      2791       4  978302188
16             1      2687       3  978824268
17             1      2018       4  978301777
18             1      3105       5  978301713
19             1      2797       4  978302039
20             1      2321       3  978302205
21             1       720       3  978300760
22             1      1270       5  978300055
23             1       527       5  978824195
24             1      2340       3  978300103
25             1        48       5  978824351
26             1      1097       4  978301953
27             1      1721       4  978300055
28             1      1545       4  978824139
29             1       745       3  978824268
...          ...       ...     ...        ...
1000179     6040      2762       4  956704584
1000180     6040      1036       3  956715455
1000181     6040       508       4  956704972
1000182     6040      1041       4  957717678
1000183     6040      3735       4  960971654
1000184     6040      2791       4  956715569
1000185     6040      2794       1  956716438
1000186     6040       527       5  956704219
1000187     6040      2003       1  956716294
1000188     6040       535       4  964828734
1000189     6040      2010       5  957716795
1000190     6040      2011       4  956716113
1000191     6040      3751       4  964828782
1000192     6040      2019       5  956703977
1000193     6040       541       4  956715288
1000194     6040      1077       5  964828799
1000195     6040      1079       2  956715648
1000196     6040       549       4  956704746
1000197     6040      2020       3  956715288
1000198     6040      2021       3  956716374
1000199     6040      2022       5  956716207
1000200     6040      2028       5  956704519
1000201     6040      1080       4  957717322
1000202     6040      1089       4  956704996
1000203     6040      1090       3  956715518
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [50]:
data  =  pd.merge(pd.merge(ratings,users),movies)
data

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genders
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,1193,4,978156168,F,18,3,95825,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,1193,5,982730936,M,1,10,48073,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,1193,5,978136709,F,25,7,10023,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,1193,3,978125194,F,25,1,14607,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,1193,5,978557765,M,45,3,55421,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,1193,5,978043535,M,18,4,61820,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,1193,3,978038981,M,25,8,24502,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,1193,4,978018995,M,45,17,98052,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,1193,4,977978345,M,18,4,94305,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,1193,4,977975061,M,25,4,92107,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,1193,4,978813972,M,18,12,77084,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,1193,5,977946400,M,25,0,96931,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,1193,5,977944039,M,50,1,56723,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,1193,5,977933866,M,25,2,30303,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,1193,4,977934292,F,50,1,55413,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,1193,4,977968584,F,35,3,98105,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,1193,4,977786172,M,56,1,49327,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,1193,5,977785864,F,25,0,60640,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,1193,5,977694161,F,45,1,02476,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,1193,5,977683596,F,56,9,85749,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,1193,5,977626632,M,45,0,98201,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,1193,3,977621789,F,25,16,78028,One Flew Over the Cuckoo's Nest (1975),Drama
27,99,1193,2,982791053,F,1,10,19390,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,1193,5,1040737607,M,35,19,20871,One Flew Over the Cuckoo's Nest (1975),Drama
29,104,1193,2,977546620,M,25,12,00926,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000179,4933,3084,3,962757020,M,25,15,94040,Home Page (1999),Documentary
1000180,4802,2218,2,1014866656,M,56,1,40601,Juno and Paycock (1930),Drama
1000181,4812,2308,2,962932391,M,18,14,25301,Detroit 9000 (1973),Action|Crime
1000182,4874,624,4,962781918,F,25,4,70808,Condition Red (1995),Action|Drama|Thriller
1000183,5059,1434,4,962484364,M,45,16,22652,"Stranger, The (1994)",Action
1000184,5947,1434,4,957190428,F,45,16,97215,"Stranger, The (1994)",Action
1000185,5077,1868,3,962417299,M,25,2,20037,"Truce, The (1996)",Drama|War
1000186,5944,1868,1,957197520,F,18,10,27606,"Truce, The (1996)",Drama|War
1000187,5105,404,3,962337582,M,50,7,18977,Brother Minister: The Assassination of Malcolm...,Documentary
1000188,5185,404,4,963402617,F,35,4,44485,Brother Minister: The Assassination of Malcolm...,Documentary
1000189,5532,404,5,959619841,M,25,17,27408,Brother Minister: The Assassination of Malcolm...,Documentary
1000190,5543,404,3,960127592,M,25,17,97401,Brother Minister: The Assassination of Malcolm...,Documentary
1000191,5220,2543,3,961546137,M,25,7,91436,Six Ways to Sunday (1997),Comedy
1000192,5754,2543,4,958272316,F,18,1,60640,Six Ways to Sunday (1997),Comedy
1000193,5227,591,3,961475931,M,18,10,64050,Tough and Deadly (1995),Action|Drama|Thriller
1000194,5795,591,1,958145253,M,25,1,92688,Tough and Deadly (1995),Action|Drama|Thriller
1000195,5313,3656,5,960920392,M,56,0,55406,Lured (1947),Crime
1000196,5328,2438,4,960838075,F,25,4,91740,Outside Ozona (1998),Drama|Thriller
1000197,5334,3323,3,960796159,F,56,13,46140,Chain of Fools (2000),Comedy|Crime
1000198,5334,127,1,960795494,F,56,13,46140,"Silence of the Palace, The (Saimt el Qusur) (1...",Drama
1000199,5334,3382,5,960796159,F,56,13,46140,Song of Freedom (1936),Drama
1000200,5420,1843,3,960156505,F,1,19,14850,Slappy and the Stinkers (1998),Children's|Comedy
1000201,5433,286,3,960240881,F,35,17,45014,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller
1000202,5494,3530,4,959816296,F,35,17,94306,Smoking/No Smoking (1993),Comedy
1000203,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),Documentary
1000204,5949,2198,5,958846401,M,18,17,47901,Modulations (1998),Documentary
1000205,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),Drama
1000206,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),Drama
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary

In [51]:
data.ix[0]

user_id                                            1
movie_id                                        1193
rating                                             5
timestamp                                  978300760
gender                                             F
age                                                1
occupation                                        10
zip                                            48067
title         One Flew Over the Cuckoo's Nest (1975)
genders                                        Drama
Name: 0, dtype: object

In [52]:
mean_ratings = data.pivot_table('rating', index ='title', columns = 'gender',aggfunc='mean')
mean_ratings[:5]

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

In [53]:
ratings_by_title = data.groupby('title').size()
ratings_by_title[:10]

title
$1,000,000 Duck (1971)                37
'Night Mother (1986)                  70
'Til There Was You (1997)             52
'burbs, The (1989)                   303
...And Justice for All (1979)        199
1-900 (1994)                           2
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
dtype: int64

In [54]:
active_titles = ratings_by_title.index[ratings_by_title>=250]
active_titles

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1216)

In [55]:
mean_ratings = mean_ratings.ix[active_titles]
mean_ratings

gender                                                     F         M
title
'burbs, The (1989)                                  2.793478  2.962085
10 Things I Hate About You (1999)                   3.646552  3.311966
101 Dalmatians (1961)                               3.791444  3.500000
101 Dalmatians (1996)                               3.240000  2.911215
12 Angry Men (1957)                                 4.184397  4.328421
13th Warrior, The (1999)                            3.112000  3.168000
2 Days in the Valley (1996)                         3.488889  3.244813
20,000 Leagues Under the Sea (1954)                 3.670103  3.709205
2001: A Space Odyssey (1968)                        3.825581  4.129738
2010 (1984)                                         3.446809  3.413712
28 Days (2000)                                      3.209424  2.977707
39 Steps, The (1935)                                3.965517  4.107692
54 (1998)                                           2.701754  2.782178
7th Voyage of Sinbad, The (1958)                    3.409091  3.658879
8MM (1999)                                          2.906250  2.850962
About Last Night... (1986)                          3.188679  3.140909
Absent Minded Professor, The (1961)                 3.469388  3.446809
Absolute Power (1997)                               3.469136  3.327759
Abyss, The (1989)                                   3.659236  3.689507
Ace Ventura: Pet Detective (1994)                   3.000000  3.197917
Ace Ventura: When Nature Calls (1995)               2.269663  2.543333
Addams Family Values (1993)                         3.000000  2.878531
Addams Family, The (1991)                           3.186170  3.163498
Adventures in Babysitting (1987)                    3.455782  3.208122
Adventures of Buckaroo Bonzai Across the 8th Di...  3.308511  3.402321
Adventures of Priscilla, Queen of the Desert, T...  3.989071  3.688811
Adventures of Robin Hood, The (1938)                4.166667  3.918367
African Queen, The (1951)                           4.324232  4.223822
Age of Innocence, The (1993)                        3.827068  3.339506
Agnes of God (1985)                                 3.534884  3.244898
...                                                      ...       ...
White Men Can't Jump (1992)                         3.028777  3.231061
Who Framed Roger Rabbit? (1988)                     3.569378  3.713251
Who's Afraid of Virginia Woolf? (1966)              4.029703  4.096939
Whole Nine Yards, The (2000)                        3.296552  3.404814
Wild Bunch, The (1969)                              3.636364  4.128099
Wild Things (1998)                                  3.392000  3.459082
Wild Wild West (1999)                               2.275449  2.131973
William Shakespeare's Romeo and Juliet (1996)       3.532609  3.318644
Willow (1988)                                       3.658683  3.453543
Willy Wonka and the Chocolate Factory (1971)        4.063953  3.789474
Witness (1985)                                      4.115854  3.941504
Wizard of Oz, The (1939)                            4.355030  4.203138
Wolf (1994)                                         3.074074  2.899083
Women on the Verge of a Nervous Breakdown (1988)    3.934307  3.865741
Wonder Boys (2000)                                  4.043796  3.913649
Working Girl (1988)                                 3.606742  3.312500
World Is Not Enough, The (1999)                     3.337500  3.388889
Wrong Trousers, The (1993)                          4.588235  4.478261
Wyatt Earp (1994)                                   3.147059  3.283898
X-Files: Fight the Future, The (1998)               3.489474  3.493797
X-Men (2000)                                        3.682310  3.851702
Year of Living Dangerously (1982)                   3.951220  3.869403
Yellow Submarine (1968)                             3.714286  3.689286
You've Got Mail (1998)                              3.542424  3.275591
Young Frankenstein (1974)                           4.289963  4.239177
Young Guns (1988)                                   3.371795  3.425620
Young Guns II (1990)                                2.934783  2.904025
Young Sherlock Holmes (1985)                        3.514706  3.363344
Zero Effect (1998)                                  3.864407  3.723140
eXistenZ (1999)                                     3.098592  3.289086

[1216 rows x 2 columns]

In [57]:
top_female_ratings = mean_ratings.sort_index(by = 'F' ,  ascending=False)
top_female_ratings[:10]

gender                                                     F         M
title
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611
Creature Comforts (1990)                            4.513889  4.272277
Usual Suspects, The (1995)                          4.513317  4.518248

In [58]:
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']
sorted_by_diff = mean_ratings.sort_index(by='diff')
sorted_by_diff[:15]

gender                                        F         M      diff
title
Dirty Dancing (1987)                   3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)              3.254717  2.578358 -0.676359
Grease (1978)                          3.975265  3.367041 -0.608224
Little Women (1994)                    3.870588  3.321739 -0.548849
Steel Magnolias (1989)                 3.901734  3.365957 -0.535777
Anastasia (1997)                       3.800000  3.281609 -0.518391
Rocky Horror Picture Show, The (1975)  3.673016  3.160131 -0.512885
Color Purple, The (1985)               4.158192  3.659341 -0.498851
Age of Innocence, The (1993)           3.827068  3.339506 -0.487561
Free Willy (1993)                      2.921348  2.438776 -0.482573
French Kiss (1995)                     3.535714  3.056962 -0.478752
Little Shop of Horrors, The (1960)     3.650000  3.179688 -0.470312
Guys and Dolls (1955)                  4.051724  3.583333 -0.468391
Mary Poppins (1964)                    4.197740  3.730594 -0.467147
Patch Adams (1998)                     3.473282  3.008746 -0.464536

In [59]:
sorted_by_diff[::-1][:15]

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283  0.611985
Hidden, The (1987)                      3.137931  3.745098  0.607167
Rocky III (1982)                        2.361702  2.943503  0.581801
Caddyshack (1980)                       3.396135  3.969737  0.573602
For a Few Dollars More (1965)           3.409091  3.953795  0.544704
Porky's (1981)                          2.296875  2.836364  0.539489
Animal House (1978)                     3.628906  4.167192  0.538286
Exorcist, The (1973)                    3.537634  4.067239  0.529605
Fright Night (1985)                     2.973684  3.500000  0.526316
Barb Wire (1996)                        1.585366  2.100386  0.515020

In [60]:
 rating_std_by_title = data.groupby('title')['rating'].std()
rating_std_title = rating_std_by_title.ix[active_titles]
rating_std_by_title.order(ascending=False)[:10]

title
Foreign Student (1994)                                             2.828427
Criminal Lovers (Les Amants Criminels) (1999)                      2.309401
Identification of a Woman (Identificazione di una donna) (1982)    2.121320
Sunset Park (1996)                                                 2.121320
Eaten Alive (1976)                                                 2.121320
Neon Bible, The (1995)                                             2.121320
Talk of Angels (1998)                                              2.121320
Tokyo Fist (1995)                                                  2.121320
Paralyzing Fear: The Story of Polio in America, A (1998)           2.121320
Better Living (1998)                                               2.121320
Name: rating, dtype: float64

In [61]:
names

NameError: name 'names' is not defined

In [62]:
import pandas as pd
names1880 = pd.read_csv('C:/Users/SDS/Downloads/names/yob1880.txt',names=['name','sex','births'])
names1880

           name sex  births
0          Mary   F    7065
1          Anna   F    2604
2          Emma   F    2003
3     Elizabeth   F    1939
4        Minnie   F    1746
5      Margaret   F    1578
6           Ida   F    1472
7         Alice   F    1414
8        Bertha   F    1320
9         Sarah   F    1288
10        Annie   F    1258
11        Clara   F    1226
12         Ella   F    1156
13     Florence   F    1063
14         Cora   F    1045
15       Martha   F    1040
16        Laura   F    1012
17       Nellie   F     995
18        Grace   F     982
19       Carrie   F     949
20        Maude   F     858
21        Mabel   F     808
22       Bessie   F     796
23       Jennie   F     793
24     Gertrude   F     787
25        Julia   F     783
26       Hattie   F     769
27        Edith   F     768
28       Mattie   F     704
29         Rose   F     700
...         ...  ..     ...
1970      Philo   M       5
1971    Phineas   M       5
1972    Presley   M       5
1973     Ransom   M       5
1974      Reece   M       5
1975       Rene   M       5
1976    Roswell   M       5
1977    Rowland   M       5
1978    Sampson   M       5
1979     Samual   M       5
1980     Santos   M       5
1981   Schuyler   M       5
1982   Sheppard   M       5
1983   Spurgeon   M       5
1984   Starling   M       5
1985   Sylvanus   M       5
1986   Theadore   M       5
1987  Theophile   M       5
1988     Tilmon   M       5
1989      Tommy   M       5
1990    Unknown   M       5
1991       Vann   M       5
1992        Wes   M       5
1993    Winston   M       5
1994       Wood   M       5
1995     Woodie   M       5
1996     Worthy   M       5
1997     Wright   M       5
1998       York   M       5
1999  Zachariah   M       5

[2000 rows x 3 columns]

In [63]:
names1880.groupby('sex').births.sum()

sex
F     90993
M    110491
Name: births, dtype: int64

In [64]:
years = range(1880,2011)
pieces = []
columns = ['name','sex' ,'birth']

for year in years:
    path = 'C:/Users/SDS/Downloads/names/yob%d.txt' % year
    frame = pd.read_csv(path,names = columns)
    
    frame['year'] = year
    pieces.append(frame)
    
# Concatenate everything into a single DataFrame
names = pd.concat(pieces,ignore_index=True)

names

              name sex  birth  year
0             Mary   F   7065  1880
1             Anna   F   2604  1880
2             Emma   F   2003  1880
3        Elizabeth   F   1939  1880
4           Minnie   F   1746  1880
5         Margaret   F   1578  1880
6              Ida   F   1472  1880
7            Alice   F   1414  1880
8           Bertha   F   1320  1880
9            Sarah   F   1288  1880
10           Annie   F   1258  1880
11           Clara   F   1226  1880
12            Ella   F   1156  1880
13        Florence   F   1063  1880
14            Cora   F   1045  1880
15          Martha   F   1040  1880
16           Laura   F   1012  1880
17          Nellie   F    995  1880
18           Grace   F    982  1880
19          Carrie   F    949  1880
20           Maude   F    858  1880
21           Mabel   F    808  1880
22          Bessie   F    796  1880
23          Jennie   F    793  1880
24        Gertrude   F    787  1880
25           Julia   F    783  1880
26          Hattie   F    769  1880
27           Edith   F    768  1880
28          Mattie   F    704  1880
29            Rose   F    700  1880
...            ...  ..    ...   ...
1691603     Zayyan   M      5  2010
1691604       Zeal   M      5  2010
1691605     Zealan   M      5  2010
1691606   Zecharia   M      5  2010
1691607   Zeferino   M      5  2010
1691608   Zekariah   M      5  2010
1691609       Zeki   M      5  2010
1691610     Zeriah   M      5  2010
1691611     Zeshan   M      5  2010
1691612     Zhyier   M      5  2010
1691613     Zierre   M      5  2010
1691614   Zildjian   M      5  2010
1691615     Zimere   M      5  2010
1691616       Zinn   M      5  2010
1691617     Zishan   M      5  2010
1691618      Ziven   M      5  2010
1691619      Zmari   M      5  2010
1691620      Zoran   M      5  2010
1691621      Zoren   M      5  2010
1691622     Zuhaib   M      5  2010
1691623     Zyeire   M      5  2010
1691624    Zygmunt   M      5  2010
1691625   Zykerion   M      5  2010
1691626      Zylar   M      5  2010
1691627      Zylin   M      5  2010
1691628    Zymaire   M      5  2010
1691629     Zyonne   M      5  2010
1691630  Zyquarius   M      5  2010
1691631      Zyran   M      5  2010
1691632      Zzyzx   M      5  2010

[1691633 rows x 4 columns]

In [65]:
total_births =  names.pivot_table('birth', index = 'year', columns = 'sex', aggfunc = sum)
total_births.tail()
total_births.plot(title='Total births by sex and year')

In [66]:
def add_prop(group):
    # Integer division floors
    births = group.birth.astype(float)
    
    group['prop'] = births / births.sum()
    return group
names = names.groupby(['year','sex']).apply(add_prop)

In [67]:
names

              name sex  birth  year      prop
0             Mary   F   7065  1880  0.077643
1             Anna   F   2604  1880  0.028618
2             Emma   F   2003  1880  0.022013
3        Elizabeth   F   1939  1880  0.021309
4           Minnie   F   1746  1880  0.019188
5         Margaret   F   1578  1880  0.017342
6              Ida   F   1472  1880  0.016177
7            Alice   F   1414  1880  0.015540
8           Bertha   F   1320  1880  0.014507
9            Sarah   F   1288  1880  0.014155
10           Annie   F   1258  1880  0.013825
11           Clara   F   1226  1880  0.013474
12            Ella   F   1156  1880  0.012704
13        Florence   F   1063  1880  0.011682
14            Cora   F   1045  1880  0.011484
15          Martha   F   1040  1880  0.011429
16           Laura   F   1012  1880  0.011122
17          Nellie   F    995  1880  0.010935
18           Grace   F    982  1880  0.010792
19          Carrie   F    949  1880  0.010429
20           Maude   F    858  1880  0.009429
21           Mabel   F    808  1880  0.008880
22          Bessie   F    796  1880  0.008748
23          Jennie   F    793  1880  0.008715
24        Gertrude   F    787  1880  0.008649
25           Julia   F    783  1880  0.008605
26          Hattie   F    769  1880  0.008451
27           Edith   F    768  1880  0.008440
28          Mattie   F    704  1880  0.007737
29            Rose   F    700  1880  0.007693
...            ...  ..    ...   ...       ...
1691603     Zayyan   M      5  2010  0.000003
1691604       Zeal   M      5  2010  0.000003
1691605     Zealan   M      5  2010  0.000003
1691606   Zecharia   M      5  2010  0.000003
1691607   Zeferino   M      5  2010  0.000003
1691608   Zekariah   M      5  2010  0.000003
1691609       Zeki   M      5  2010  0.000003
1691610     Zeriah   M      5  2010  0.000003
1691611     Zeshan   M      5  2010  0.000003
1691612     Zhyier   M      5  2010  0.000003
1691613     Zierre   M      5  2010  0.000003
1691614   Zildjian   M      5  2010  0.000003
1691615     Zimere   M      5  2010  0.000003
1691616       Zinn   M      5  2010  0.000003
1691617     Zishan   M      5  2010  0.000003
1691618      Ziven   M      5  2010  0.000003
1691619      Zmari   M      5  2010  0.000003
1691620      Zoran   M      5  2010  0.000003
1691621      Zoren   M      5  2010  0.000003
1691622     Zuhaib   M      5  2010  0.000003
1691623     Zyeire   M      5  2010  0.000003
1691624    Zygmunt   M      5  2010  0.000003
1691625   Zykerion   M      5  2010  0.000003
1691626      Zylar   M      5  2010  0.000003
1691627      Zylin   M      5  2010  0.000003
1691628    Zymaire   M      5  2010  0.000003
1691629     Zyonne   M      5  2010  0.000003
1691630  Zyquarius   M      5  2010  0.000003
1691631      Zyran   M      5  2010  0.000003
1691632      Zzyzx   M      5  2010  0.000003

[1691633 rows x 5 columns]

In [68]:
import numpy as np
np.allclose(names.groupby(['year','sex']).prop.sum(),1)

True

In [69]:
def get_top1000(group):
    return group.sort_index(by='birth',ascending =False)[:1000]

grouped = names.groupby(['year','sex'])
top1000 = grouped.apply(get_top1000)

In [70]:
top1000

                       name sex  birth  year      prop
year sex
1880 F   0             Mary   F   7065  1880  0.077643
         1             Anna   F   2604  1880  0.028618
         2             Emma   F   2003  1880  0.022013
         3        Elizabeth   F   1939  1880  0.021309
         4           Minnie   F   1746  1880  0.019188
         5         Margaret   F   1578  1880  0.017342
         6              Ida   F   1472  1880  0.016177
         7            Alice   F   1414  1880  0.015540
         8           Bertha   F   1320  1880  0.014507
         9            Sarah   F   1288  1880  0.014155
         10           Annie   F   1258  1880  0.013825
         11           Clara   F   1226  1880  0.013474
         12            Ella   F   1156  1880  0.012704
         13        Florence   F   1063  1880  0.011682
         14            Cora   F   1045  1880  0.011484
         15          Martha   F   1040  1880  0.011429
         16           Laura   F   1012  1880  0.011122
         17          Nellie   F    995  1880  0.010935
         18           Grace   F    982  1880  0.010792
         19          Carrie   F    949  1880  0.010429
         20           Maude   F    858  1880  0.009429
         21           Mabel   F    808  1880  0.008880
         22          Bessie   F    796  1880  0.008748
         23          Jennie   F    793  1880  0.008715
         24        Gertrude   F    787  1880  0.008649
         25           Julia   F    783  1880  0.008605
         26          Hattie   F    769  1880  0.008451
         27           Edith   F    768  1880  0.008440
         28          Mattie   F    704  1880  0.007737
         29            Rose   F    700  1880  0.007693
...                     ...  ..    ...   ...       ...
2010 M   1678362     Lathan   M    203  2010  0.000106
         1678361       Kael   M    203  2010  0.000106
         1678360   Demarion   M    203  2010  0.000106
         1678365     Gibson   M    202  2010  0.000106
         1678367     Reagan   M    202  2010  0.000106
         1678366      Keyon   M    202  2010  0.000106
         1678368   Kingsley   M    201  2010  0.000105
         1678369      Talan   M    201  2010  0.000105
         1678370     Yehuda   M    201  2010  0.000105
         1678371  Cristofer   M    200  2010  0.000105
         1678372    Dashawn   M    200  2010  0.000105
         1678373     Daylen   M    200  2010  0.000105
         1678374     Jordon   M    200  2010  0.000105
         1678375    Sheldon   M    200  2010  0.000105
         1678379      Rowen   M    199  2010  0.000104
         1678380      Slade   M    199  2010  0.000104
         1678377      Kadin   M    199  2010  0.000104
         1678378      Masen   M    199  2010  0.000104
         1678376   Clarence   M    199  2010  0.000104
         1678381     Dillan   M    198  2010  0.000103
         1678382   Thaddeus   M    198  2010  0.000103
         1678383     Yousef   M    198  2010  0.000103
         1678384    Clinton   M    197  2010  0.000103
         1678385     Truman   M    197  2010  0.000103
         1678390    Keshawn   M    196  2010  0.000102
         1678392     Simeon   M    196  2010  0.000102
         1678391     Reuben   M    196  2010  0.000102
         1678388      Enoch   M    196  2010  0.000102
         1678389     Joziah   M    196  2010  0.000102
         1678387    Eliezer   M    196  2010  0.000102

[261877 rows x 5 columns]

In [71]:
pieces = []
for year,group in names.groupby(['year','sex']):
    pieces.append(group.sort_index(by='birth',ascending=False)[:1000])
top1000 = pd.concat(pieces,ignore_index=True)

In [72]:
top1000

             name sex  birth  year      prop
0            Mary   F   7065  1880  0.077643
1            Anna   F   2604  1880  0.028618
2            Emma   F   2003  1880  0.022013
3       Elizabeth   F   1939  1880  0.021309
4          Minnie   F   1746  1880  0.019188
5        Margaret   F   1578  1880  0.017342
6             Ida   F   1472  1880  0.016177
7           Alice   F   1414  1880  0.015540
8          Bertha   F   1320  1880  0.014507
9           Sarah   F   1288  1880  0.014155
10          Annie   F   1258  1880  0.013825
11          Clara   F   1226  1880  0.013474
12           Ella   F   1156  1880  0.012704
13       Florence   F   1063  1880  0.011682
14           Cora   F   1045  1880  0.011484
15         Martha   F   1040  1880  0.011429
16          Laura   F   1012  1880  0.011122
17         Nellie   F    995  1880  0.010935
18          Grace   F    982  1880  0.010792
19         Carrie   F    949  1880  0.010429
20          Maude   F    858  1880  0.009429
21          Mabel   F    808  1880  0.008880
22         Bessie   F    796  1880  0.008748
23         Jennie   F    793  1880  0.008715
24       Gertrude   F    787  1880  0.008649
25          Julia   F    783  1880  0.008605
26         Hattie   F    769  1880  0.008451
27          Edith   F    768  1880  0.008440
28         Mattie   F    704  1880  0.007737
29           Rose   F    700  1880  0.007693
...           ...  ..    ...   ...       ...
261847     Lathan   M    203  2010  0.000106
261848       Kael   M    203  2010  0.000106
261849   Demarion   M    203  2010  0.000106
261850     Gibson   M    202  2010  0.000106
261851     Reagan   M    202  2010  0.000106
261852      Keyon   M    202  2010  0.000106
261853   Kingsley   M    201  2010  0.000105
261854      Talan   M    201  2010  0.000105
261855     Yehuda   M    201  2010  0.000105
261856  Cristofer   M    200  2010  0.000105
261857    Dashawn   M    200  2010  0.000105
261858     Daylen   M    200  2010  0.000105
261859     Jordon   M    200  2010  0.000105
261860    Sheldon   M    200  2010  0.000105
261861      Rowen   M    199  2010  0.000104
261862      Slade   M    199  2010  0.000104
261863      Kadin   M    199  2010  0.000104
261864      Masen   M    199  2010  0.000104
261865   Clarence   M    199  2010  0.000104
261866     Dillan   M    198  2010  0.000103
261867   Thaddeus   M    198  2010  0.000103
261868     Yousef   M    198  2010  0.000103
261869    Clinton   M    197  2010  0.000103
261870     Truman   M    197  2010  0.000103
261871    Keshawn   M    196  2010  0.000102
261872     Simeon   M    196  2010  0.000102
261873     Reuben   M    196  2010  0.000102
261874      Enoch   M    196  2010  0.000102
261875     Joziah   M    196  2010  0.000102
261876    Eliezer   M    196  2010  0.000102

[261877 rows x 5 columns]

In [74]:
boys = top1000[top1000.sex == 'M']
girls = top1000[top1000.sex == 'F']
total_births = top1000.pivot_table('birth',index = 'year',columns='name' , aggfunc =sum)
total_births

name,Aaden,Aaliyah,Aarav,Aaron,Aarush,Ab,Abagail,Abb,Abbey,Abbie,...,Zoa,Zoe,Zoey,Zoie,Zola,Zollie,Zona,Zora,Zula,Zuri
year,,,,,,,,,,,,,,,,,,,,,
1880,NaN,NaN,NaN,102,NaN,NaN,NaN,NaN,NaN,71,...,8,23,NaN,NaN,7,NaN,8,28,27,NaN
1881,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,NaN,81,...,NaN,22,NaN,NaN,10,NaN,9,21,27,NaN
1882,NaN,NaN,NaN,85,NaN,NaN,NaN,NaN,NaN,80,...,8,25,NaN,NaN,9,NaN,17,32,21,NaN
1883,NaN,NaN,NaN,105,NaN,NaN,NaN,NaN,NaN,79,...,NaN,23,NaN,NaN,10,NaN,11,35,25,NaN
1884,NaN,NaN,NaN,97,NaN,NaN,NaN,NaN,NaN,98,...,13,31,NaN,NaN,14,6,8,58,27,NaN
1885,NaN,NaN,NaN,88,NaN,6,NaN,NaN,NaN,88,...,6,27,NaN,NaN,12,6,14,48,38,NaN
1886,NaN,NaN,NaN,86,NaN,NaN,NaN,NaN,NaN,84,...,13,25,NaN,NaN,8,NaN,20,52,43,NaN
1887,NaN,NaN,NaN,78,NaN,NaN,NaN,NaN,NaN,104,...,9,34,NaN,NaN,23,NaN,28,46,33,NaN
1888,NaN,NaN,NaN,90,NaN,NaN,NaN,NaN,NaN,137,...,11,42,NaN,NaN,23,7,30,42,45,NaN
1889,NaN,NaN,NaN,85,NaN,NaN,NaN,NaN,NaN,107,...,14,29,NaN,NaN,22,NaN,29,53,55,NaN
1890,NaN,NaN,NaN,96,NaN,NaN,NaN,6,NaN,140,...,NaN,42,NaN,NaN,32,7,27,60,65,NaN
1891,NaN,NaN,NaN,69,NaN,NaN,NaN,NaN,NaN,124,...,NaN,34,NaN,NaN,29,6,14,52,45,NaN
1892,NaN,NaN,NaN,95,NaN,NaN,NaN,NaN,NaN,119,...,NaN,34,NaN,NaN,27,NaN,25,66,53,NaN
1893,NaN,NaN,NaN,81,NaN,NaN,NaN,NaN,NaN,115,...,NaN,23,NaN,NaN,34,6,15,67,70,NaN
1894,NaN,NaN,NaN,79,NaN,NaN,NaN,NaN,NaN,118,...,NaN,28,NaN,NaN,51,NaN,23,66,64,NaN
1895,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,NaN,92,...,NaN,34,NaN,NaN,60,11,38,55,55,NaN
1896,NaN,NaN,NaN,69,NaN,NaN,NaN,NaN,NaN,121,...,NaN,36,NaN,NaN,47,NaN,38,72,65,NaN
1897,NaN,NaN,NaN,87,NaN,NaN,NaN,NaN,NaN,97,...,NaN,35,NaN,NaN,51,NaN,28,67,79,NaN
1898,NaN,NaN,NaN,89,NaN,NaN,NaN,NaN,NaN,120,...,NaN,30,NaN,NaN,62,NaN,28,65,83,NaN
1899,NaN,NaN,NaN,71,NaN,NaN,NaN,NaN,NaN,87,...,NaN,27,NaN,NaN,49,6,31,56,60,NaN
1900,NaN,NaN,NaN,103,NaN,NaN,NaN,NaN,NaN,112,...,NaN,26,NaN,NaN,48,9,44,99,71,NaN
1901,NaN,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,87,...,NaN,26,NaN,NaN,56,NaN,31,58,57,NaN
1902,NaN,NaN,NaN,78,NaN,NaN,NaN,NaN,NaN,91,...,NaN,34,NaN,NaN,58,NaN,23,58,66,NaN
1903,NaN,NaN,NaN,93,NaN,NaN,NaN,NaN,NaN,91,...,NaN,19,NaN,NaN,64,NaN,41,83,74,NaN
1904,NaN,NaN,NaN,117,NaN,NaN,NaN,NaN,NaN,80,...,NaN,27,NaN,NaN,46,NaN,35,54,74,NaN
1905,NaN,NaN,NaN,96,NaN,NaN,NaN,NaN,NaN,73,...,NaN,24,NaN,NaN,66,8,24,55,61,NaN
1906,NaN,NaN,NaN,96,NaN,NaN,NaN,NaN,NaN,72,...,NaN,19,NaN,NaN,59,NaN,37,64,58,NaN
1907,NaN,NaN,NaN,130,NaN,NaN,NaN,NaN,NaN,79,...,NaN,19,NaN,NaN,53,11,39,92,72,NaN
1908,NaN,NaN,NaN,114,NaN,NaN,NaN,NaN,NaN,84,...,NaN,23,NaN,NaN,70,NaN,31,59,53,NaN
1909,NaN,NaN,NaN,142,NaN,NaN,NaN,NaN,NaN,57,...,NaN,22,NaN,NaN,59,NaN,39,57,76,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981,NaN,NaN,NaN,14838,NaN,NaN,NaN,NaN,383,292,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,NaN,NaN,NaN,14563,NaN,NaN,NaN,NaN,370,275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,NaN,NaN,NaN,14627,NaN,NaN,NaN,NaN,420,223,...,NaN,174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,13397,NaN,NaN,NaN,NaN,357,249,...,NaN,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,NaN,NaN,13133,NaN,NaN,NaN,NaN,314,233,...,NaN,194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986,NaN,NaN,NaN,12689,NaN,NaN,NaN,NaN,370,228,...,NaN,213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,NaN,NaN,12677,NaN,NaN,NaN,NaN,327,228,...,NaN,247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,14395,NaN,NaN,NaN,NaN,404,226,...,NaN,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,15315,NaN,NaN,NaN,NaN,470,265,...,NaN,376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,NaN,NaN,NaN,14549,NaN,NaN,NaN,NaN,507,313,...,NaN,478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,14241,NaN,NaN,NaN,NaN,451,276,...,NaN,722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,14502,NaN,NaN,NaN,NaN,430,260,...,NaN,980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,13828,NaN,NaN,NaN,NaN,503,292,...,NaN,1194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,1451,NaN,14379,NaN,NaN,NaN,NaN,597,351,...,NaN,1333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,1254,NaN,13283,NaN,NaN,NaN,NaN,549,351,...,NaN,1726,219,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,831,NaN,11967,NaN,NaN,NaN,NaN,552,349,...,NaN,2064,339,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,1738,NaN,11163,NaN,NaN,NaN,NaN,645,386,...,NaN,2361,407,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,1399,NaN,10544,NaN,NaN,NaN,NaN,661,398,...,NaN,2692,478,225,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,1088,NaN,9851,NaN,NaN,211,NaN,710,430,...,NaN,3237,562,257,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,1494,NaN,9551,NaN,NaN,222,NaN,660,432,...,NaN,3785,691,320,NaN,NaN,NaN,NaN,NaN,NaN
2001,NaN,3352,NaN,9531,NaN,NaN,244,NaN,687,526,...,NaN,4644,822,439,NaN,NaN,NaN,NaN,NaN,NaN
2002,NaN,4778,NaN,8997,NaN,NaN,256,NaN,600,514,...,NaN,4883,1182,438,NaN,NaN,NaN,NaN,NaN,NaN
2003,NaN,3671,NaN,8859,NaN,NaN,276,NaN,625,536,...,NaN,5084,1469,448,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,3485,NaN,8386,NaN,NaN,258,NaN,504,500,...,NaN,5361,1622,515,NaN,NaN,NaN,NaN,NaN,NaN
2005,NaN,3455,NaN,7799,NaN,NaN,287,NaN,452,445,...,NaN,4956,2270,502,NaN,NaN,NaN,NaN,NaN,NaN
2006,NaN,3739,NaN,8290,NaN,NaN,298,NaN,404,440,...,NaN,5152,2847,531,NaN,NaN,NaN,NaN,NaN,NaN
2007,NaN,3951,NaN,8932,NaN,NaN,313,NaN,349,468,...,NaN,4931,3031,527,NaN,NaN,NaN,NaN,NaN,NaN
2008,956,4038,219,8530,NaN,NaN,319,NaN,344,400,...,NaN,4776,3442,493,NaN,NaN,NaN,NaN,NaN,NaN
2009,1267,4365,270,7963,NaN,NaN,297,NaN,307,370,...,NaN,5141,3990,498,NaN,NaN,NaN,NaN,NaN,NaN
2010,450,4657,438,7450,227,NaN,281,NaN,299,326,...,NaN,6261,5200,508,NaN,NaN,NaN,NaN,NaN,259

In [75]:
subset = total_births[['John','Harry','Mary','Marilyn']]
subset.plot(subplots = True , figsize =(12,10), grid =False , title = 'Number of births per Year')

array([<matplotlib.axes._subplots.AxesSubplot object at 0x0F043B50>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x0F131E90>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x0F096F10>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x0F0AF230>], dtype=object)

In [78]:
table = top1000.pivot_table('prop',index ='year', columns = 'sex' , aggfunc = sum )
table.plot(title='Sum of table1000.prop by year and sex', yticks = np.linspace(0,1.2,13) ,xticks = range(1880,2020,10))

In [80]:
df = boys[boys.year == 2010]
df

               name sex  birth  year      prop
260877        Jacob   M  22082  2010  0.011538
260878        Ethan   M  17985  2010  0.009397
260879      Michael   M  17308  2010  0.009044
260880       Jayden   M  17152  2010  0.008962
260881      William   M  17030  2010  0.008898
260882    Alexander   M  16742  2010  0.008748
260883         Noah   M  16428  2010  0.008584
260884       Daniel   M  15815  2010  0.008263
260885        Aiden   M  15516  2010  0.008107
260886      Anthony   M  15470  2010  0.008083
260887       Joshua   M  15410  2010  0.008052
260888        Mason   M  14831  2010  0.007749
260889  Christopher   M  14243  2010  0.007442
260890       Andrew   M  14221  2010  0.007431
260891        David   M  14171  2010  0.007404
260892      Matthew   M  14099  2010  0.007367
260893        Logan   M  14012  2010  0.007321
260894       Elijah   M  13867  2010  0.007246
260895        James   M  13852  2010  0.007238
260896       Joseph   M  13798  2010  0.007210
260897      Gabriel   M  12854  2010  0.006716
260898     Benjamin   M  12417  2010  0.006488
260899         Ryan   M  11963  2010  0.006251
260900       Samuel   M  11939  2010  0.006238
260901      Jackson   M  11804  2010  0.006168
260902         John   M  11539  2010  0.006029
260903       Nathan   M  11365  2010  0.005938
260904     Jonathan   M  11103  2010  0.005801
260905    Christian   M  11080  2010  0.005789
260906         Liam   M  10921  2010  0.005706
...             ...  ..    ...   ...       ...
261847       Lathan   M    203  2010  0.000106
261848         Kael   M    203  2010  0.000106
261849     Demarion   M    203  2010  0.000106
261850       Gibson   M    202  2010  0.000106
261851       Reagan   M    202  2010  0.000106
261852        Keyon   M    202  2010  0.000106
261853     Kingsley   M    201  2010  0.000105
261854        Talan   M    201  2010  0.000105
261855       Yehuda   M    201  2010  0.000105
261856    Cristofer   M    200  2010  0.000105
261857      Dashawn   M    200  2010  0.000105
261858       Daylen   M    200  2010  0.000105
261859       Jordon   M    200  2010  0.000105
261860      Sheldon   M    200  2010  0.000105
261861        Rowen   M    199  2010  0.000104
261862        Slade   M    199  2010  0.000104
261863        Kadin   M    199  2010  0.000104
261864        Masen   M    199  2010  0.000104
261865     Clarence   M    199  2010  0.000104
261866       Dillan   M    198  2010  0.000103
261867     Thaddeus   M    198  2010  0.000103
261868       Yousef   M    198  2010  0.000103
261869      Clinton   M    197  2010  0.000103
261870       Truman   M    197  2010  0.000103
261871      Keshawn   M    196  2010  0.000102
261872       Simeon   M    196  2010  0.000102
261873       Reuben   M    196  2010  0.000102
261874        Enoch   M    196  2010  0.000102
261875       Joziah   M    196  2010  0.000102
261876      Eliezer   M    196  2010  0.000102

[1000 rows x 5 columns]

In [83]:
prop_cumsum = df.sort_index(by = 'prop', ascending =False).prop.cumsum()
prop_cumsum[:10]

260877    0.011538
260878    0.020935
260879    0.029979
260880    0.038941
260881    0.047839
260882    0.056587
260883    0.065171
260884    0.073434
260885    0.081541
260886    0.089625
Name: prop, dtype: float64

In [84]:
prop_cumsum.searchsorted(0.5)

array([116], dtype=int32)

In [86]:
df = boys[boys.year == 1900]
in1900 = df.sort_index(by = 'prop',ascending =False).prop.cumsum()
in1900.searchsorted(0.5) +1

array([25], dtype=int32)

In [93]:
def get_quantitle_count(group,q=0.5):
    group = group.sort_index(by='prop',ascending=False)
    return group.prop.cumsum().searchsorted(q)+1

diversity = top1000.groupby(['year','sex']).apply(get_quantitle_count)
diversity = diversity.unstack('sex')
diversity.head()

sex      F     M
year
1880  [38]  [14]
1881  [38]  [14]
1882  [38]  [15]
1883  [39]  [15]
1884  [39]  [16]

In [95]:
diversity=diversity.astype(float)
diversity.plot(title="Number of popular irthname in top 50%")

In [97]:
get_last_letter = lambda x : x[-1]
    last_letters = names.name.map(get_last_letter)
    last_letters.name = 'last_letter'
    
    table = names.pivot_table('birth',index=last_letters,columns=['sex','year'],aggfunc = sum)

IndentationError: unexpected indent (<ipython-input-97-9cb45e50e09f>, line 2)